<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Static title -->
  <a href="{{ url_for('inicio.inicioPac', id=inicio.id_persona) }}">Volver</a>
  <h1>Detallazo</h1>
  <!-- // -->
  
        <div class="form-group" value="">
          <label>Proteinas</label>
          {% for result in results %}
            {% if result[0] == "p" %}            
                <li>{{result.nombre}} {{result.cantidad}}</li>
            {% endif %}
          {% endfor %}
        </div>

        <div> -- </div>

        <div class="form-group">
            <label>Carbohidratos</label>
            {% for result in results %}
              {% if result[0] == "c" %}            
                  <li>{{result.nombre}} {{result.cantidad}}</li>
              {% endif %}
            {% endfor %}
        </div>
        
        <div> -- </div>

        <div class="form-group">
            <label>Vegetales</label>
            {% for result in results %}
              {% if result[0] == "v" %}            
                  <li>{{result.nombre}} {{result.cantidad}}</li>
              {% endif %}
            {% endfor %}
          </div>

        <div> -- </div>
        <div class="form-group">
        <label>Grasas</label>
        {% for result in results %}
            {% if result[0] == "g" %}            
                <li>{{result.nombre}} {{result.cantidad}}</li>
            {% endif %}
        {% endfor %}
        </div>
        
        <div> -- </div>

        <div class="form-group">
        <label>Frutas</label>
        {% for result in results %}
            {% if result[0] == "f" %}            
                <li>{{result.nombre}} {{result.cantidad}}</li>
            {% endif %}
        {% endfor %}
        </div>

        <div> -- </div>

        <div class="form-group">
        <label>Bebidas</label>
        {% for result in results %}
            {% if result[0] == "b" %}            
                <li>{{result.nombre}} {{result.cantidad}}</li>
            {% endif %}
        {% endfor %}
        </div>         
        
        <div> -- </div>

        <div class="form-group">
        <label>Otros</label>
        {% for result in results %}
            {% if result[0] == "o" %}            
                <li>{{result.nombre}} {{result.cantidad}}</li>
            {% endif %}
        {% endfor %}
        </div>          

        <div>--</div>

        <!-- FIXME: No se muestran estos datos en pantalla-->
        {% for result in results %}
            <h4>{{results.satisfaccion}}</h4>
            <h4>{{results.comentario}}</h4>        
        {% endfor %}


</body>
</html>