<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <!-- Static title -->
  <a href="{{ url_for('inicio.inicioEsp', id=get_esp.id_persona)}}">Volver</a>
  <a href="{{ url_for('perfil.perfilEsp', id=get_esp.id_persona)}}">Perfil</a>
  <h1>Detallazo</h1>
  <!-- // -->
        
    <!-- Funcion para calcular la edad -->
    {% set edad = (today.year - result.fecha_nac.year - ((today.month, today.day) < (result.fecha_nac.month, result.fecha_nac.day))) %}
    <!-- -- -->

        <div class="form-group" value="">
            <p>{{result.nombre}}</p>
            <p>{{result.apellido}}</p>
            <p>{{result.correo}}</p>
            <p>{{result.telefono}}</p>
            <p>{{edad}}</p>
        </div>

</body>
</html>