<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Paciente</title>
</head>
<body>
    <h1>Mis comidas</h1>
    <h3>{{ formatted_date }}</h3>
    <a href="{{ url_for('perfil.perfilPac', id=inicio.id_persona)}}">Perfil</a>

    <!-- Barra de buscador -->
    <form action="{{url_for('inicio.inicioPac', id=inicio.id_persona)}}" method="POST">
            <input type="text" placeholder="Agust, 23 2023" name="srch-fecha" required>
            <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <!-- // -->

    <!-- Resultados de busqueda -->
    <ul>
        {{ formatted_fecha }}
        {% for comida in resultados %}
          <li>{{ comida.tipo }} <a href="{{ url_for('inicio.detalleCom', id=inicio.id_persona) }}">></a> <a href="{{ url_for('inicio.detalleCom', id=inicio.id_persona) }}">update</a> <a href="{{ url_for('inicio.detalleCom', id=inicio.id_persona) }}">delete</a></li>
        {% endfor %}
    </ul>
    <!-- // -->

    <h1>---Borrar---</h1>

    <!-- data from the person -->
    <p>{{inicio.nombre}}</p>
    <p>{{inicio.id_persona}}</p>
    <h1>Paciente</h1>
    <!-- // -->

    <!-- TODO: Seria bueno colocar esto en una plantilla-->
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li>
            <a href="/especialista">
                <i class="fas fa-user-md"></i>
                <span>Especialista</span>
            </a>
            </li>
            <li>
            <a href="/inicio">
                <i class="fas fa-home"></i>
                <span>Principal</span>
            </a>
            </li>
            <li>
            <a href="{{url_for('comida.comidaPac', id=inicio.id_persona)}}">
                <i class="fas fa-utensils"></i>
                <span>Comida</span>
            </a>
            </li>
        </ul>
    </nav>
    <!-- -- -->

</body>
</html>
