<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion</title>
</head>

<body>
  <!-- Notificacion -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}
  {% endwith %}
  <!-- // -->

  <!-- Static title -->
  <a href="{{ url_for('log.login') }}">Volver</a>
  <h1>Ingrese su correo electronico para restablecer su contraseña</h1>
  
    <div>
        <form action="/recovery" method="POST" class="form-control">
            <div class="form-group">
                <label>Correo</label>
                <input type="email" class="form-control" placeholder="Enter email" name="txt-correo-rec">
            </div>

            <button type="submit">Aceptar</button>
        </form>
    </div>
  <!-- // -->    
  
</body>
</html>