<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- // -->
  <div>
    <form action="/registro_especialista" method="POST" class="form-control">

        <div class="form-group">
          <label>Correo</label>
          <input type="email" class="form-control" placeholder="Enter email" name="txt-correo-esp">
        </div>

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Password" name="txt-nombre-esp">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Password" name="txt-apellido-esp">
        </div>

        <div class="form-group">
            <label>Genero</label>
            <input type="text" class="form-control" placeholder="Password" name="txt-genero-esp">
        </div>
        
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Password" name="txt-contraseña-esp">
        </div>

        <div class="form-group">
            <label>Direccion</label>
            <input type="text" class="form-control" placeholder="Password" name="txt-direccion-esp">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input type="number" class="form-control" placeholder="Password" name="txt-telefono-esp">
        </div>

        <div class="form-group">
            <label>Especialidad</label>
            <input type="text" class="form-control" placeholder="Password" name="txt-especialidad-esp">
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
    <!-- // -->

</body>
</html>