<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Paciente</title>
</head>
<body>

  <!-- // -->
  <div>
    <form class="form-control" action="acceso-login" method="post">

        <div class="form-group">
          <label>Correo</label>
          <input type="email" class="form-control" placeholder="Enter email" name="txt-correo-pac">
        </div>

        <div class="form-group">
          <label>Nombre</label>
          <input type="password" class="form-control" placeholder="Nombre" name="txt-nombre-pac">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" name="txt-apellido-pac">
        </div>

        <div class="form-group">
            <label>Genero</label>
            <input type="password" class="form-control" name="txt-genero-pac">
        </div>
        
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Password" name="txt-contraseña-pac">
        </div>

        <div class="form-group">
            <label>Direccion</label>
            <input type="text" class="form-control" placeholder="El Hatillo, 5303" name="txt-direccion-pac">
        </div>

        <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" name="txt-fechanac-pac">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input type="number" class="form-control" placeholder="0414231333" name="txt-telefono-pac">
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
    <!-- // -->

</body>
</html>