<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Static title -->
  <a href="{{ url_for('perfil.perfilEsp', id=get_usr.id_persona) }}">Volver</a>
  <h1>Update papi</h1>
  <!-- // -->

 <!-- Forms -->
  <div>
    <form action="{{url_for('updtUsr.updateEsp', id=get_usr.id_persona)}}" method="POST" class="form-control">

        <div class="form-group">
          <label>Correo</label>
          <input type="email" class="form-control" placeholder="Enter email" name="updt-correo-esp" value="{{get_usr.correo}}">
        </div>

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" name="updt-nombre-esp" value="{{get_usr.nombre}}">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" name="updt-apellido-esp" value="{{get_usr.apellido}}">
        </div>

        <div class="form-group">
            <label>Género</label>
            <div>
                <label><input type="radio" name="txt-genero-esp" value="m"> Hombre</label><br>
                <label><input type="radio" name="txt-genero-esp" value="f"> Mujer</label><br>
            </div>
          </div>
        
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Password" name="updt-contraseña-esp" value="{{get_usr.contraseña}}">
        </div>

        <div class="form-group">
            <label>Especialidad</label>
            <input type="date" class="form-control" name="updt-especialidad-esp" value="{{get_usr.especialidad}}">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input type="number" class="form-control" placeholder="0414231333" name="updt-telefono-esp" value="{{get_usr.telefono}}">
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
    </div>
    <!-- // -->

</body>
</html>